* {
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;   
    background-color: gray;
}

.grid{
    display: grid;
    grid-template-rows: 40px 1fr 1fr 18px;
    grid-template-columns: 1fr;
}

header {
    background-color: red;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: tomato; 
    grid-column: span 2;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 60px 1fr;
}

div.dados {
    background-color: purple;
    grid-column: span 2;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

div.dados input {
    margin: 2px;
}

div.dados #box1 {
    background-color: red;
    width: 100px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

div.forca {
    background-color: #008000;
    display: flex;
}

div.img img{
    width: 100%;
    height: 100%;
}

div.jogo {
    background-color: pink;
    display: grid;
    grid-template-rows: 1fr 30px;
}

div.jogo div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.jogo p {
    font-size: 50px;
}

div.corpo {
    grid-row: 4 / 5 ;
    grid-column: span 2;
    background-color: orange;
    height: 200px;
}

footer {
    background-color: blue;
    grid-row: 4;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}